@import url("../style/header.css");

:root{
    --cor-de-fundo:#ebecee;
    --branco: #FFFFFF;
    --fonte-principal: "Poppins"
    --amarelo:#fecd2f
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1{
    background-color: #EBECEE;
}
