@import url("../style/header.css");

:root{
    --font-principal:
    --cor-de-fundo:#EBECEE;
    --cor-de-fundo:#FFFFFF; 
}
:body{
    background-color: var(--cor-de-fundo);
}
:h1{
    background-color: #EBECEE;
}
